@model IndexViewModel

@{
    ViewBag.Title = "Welcome";
}


@if (!Model.Recipes.Any())
{
    <div class="jumbotron">
        <h1 class="display-4">Welcome to MyRecipes</h1>
        <p class="lead">There are no recepies on the website currently! You can add one yourself.</p>
        <hr class="my-4">
        <p class="lead">
            <a asp-controller="Recipes" asp-action="Add" class="btn btn-primary btn-lg" role="button">Add recipe</a>
        </p>
    </div>
}
else
{
    <h1>Last three added recipes:</h1>
    <br>
    <div class="row">
        @foreach (var recipe in Model.Recipes)
        {
            <div class="col mb-4">
                <div class="card" style="width: 20rem;">
                    <img class="card-img-top" src="@recipe.ImageUrl" alt="@recipe.Title">
                    <div class="card-body text-center">
                        <h5 class="card-title">@recipe.Title</h5>
                        <a asp-controller="Recipes" asp-action="Details" asp-route-id="@recipe.Id" asp-route-information="@(recipe.Title + "-" + recipe.CategoryName)" B class="btn btn-primary">View recipe</a>
                    </div>
                </div>
            </div>
        }
    </div>
}

<div class="jumbotron jumbotron-fluid">
    <div class="row">
        <div class="col-md-4 text-center">
            <h2 id="total-recipes"></h2>
        </div>
        <div class="col-md-4 text-center">
            <h2 id="total-chefs"></h2>
        </div>
        <div class="col-md-4 text-center">
            <h2 id="total-users"></h2>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $.get('api/statistics', (data) => {
            $('#total-recipes').text(data.totalRecipes + " " + "Recipes");
            $('#total-chefs').text(data.totalChefs + " " + "Chefs");
            $('#total-users').text(data.totalUsers + " " + "Users");
        });
    </script>>
}


